/* action bar */

.dropdown-icon{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAjUlEQVQoz2P4//8/A7mYYYhrzs3N5SsqKsoE0jLYFGZmZgoWFhZmAYEEhmagxsri4uL/QPwYaIAyssbs7GxhoPwFkDyQnoOhGWiqLlDyA7oBaBp/AdW5YfVzfn6+ObIBeXl5xsgagXQA3gBDM+AnLo04QxtqwHeoAX+xacQbVUC/RQA1vQQF5HBNYeRgAKO6bfkUgtZHAAAAAElFTkSuQmCC);
	background-position-y: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 15px;
	margin: 17px 3px 1px 3px;
	vertical-align: top;
	width: 15px;
}

.action-bar-container {
	height: 48px;
	min-width: 964px;
	white-space: nowrap;
	width: 100%;
}

.action-bar-inner {
	width: 100%;
}

.action-bar {
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
	background: #fff;
	height: 48px;
	position: relative;
	top: 0;
	width: 100%;
}

.action-bar-item {
	display: inline-block;
	height: 48px;
	vertical-align: top;
}

.action-bar-item:first-child {
	margin-left: 238px;
}

.action-bar-dropdown-container {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.action-bar-dropdown, .action-bar-link {
	-webkit-font-smoothing: antialiased;
	color: #737373;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	vertical-align: top;
}

.action-bar-dropdown-top {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 0 14px;
}

.action-bar-aux:last-child {
	display: inline-block;
	position: absolute;
	right: 30px;
}

.action-bar-aux:last-child .play-button.small {
	margin: 0px 10px;
	padding: 0px;
	top: 10px;
}

.action-bar-spacer {
	background: #d6d6d6;
	display: inline-block;
	height: 64%;
	margin: 9px 5px;
	padding: 0;
	width: 1px;
}

.action-bar-link.active {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	color: #333;
	font-weight: 500;
	height: 45px;
}

.action-bar-link a, .action-bar-link a:visited, .action-bar-link.active a {
	color: #737373;
	display: block;
	font-weight: 400;
	height: 100%;
	padding: 0 14px;
	width: 100%;
}

.books .action-bar-link.active {
	color: #1aa1e1;
}

.action-bar-link.active a {
	color: #333;
	font-weight: 500;
}