/* action bar */

.action-bar-item.settings-gear-menu .dropdown-icon {
	background-size: contain;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAA3klEQVQ4y2NgGE4gEYj/I+FEahg6D83QuaQawATEqkDMCOVbA/FdNEPvALEVVJ4Rqp4Jn6HZUI3XgHgNEP9DMxCG/0Hlr0H52bgMFALiN3gMeYLHkjdQ/RigDovi30DcgaRBGIg7gfgPFrV12AzVhYYXssI2HL7qwBLOuriCgA+IPyF5WQCHOl4g/gFV9xGqDy/4BVX8jIC6B1B1PwkZSHWX0iRM6/HEPi+SC3HFfi2udPoWRzr8As1ZX/CkU0FcQZBDYo66DuVn0T3vYwNz0AydTY2iLxXN0NThU1UAAJ7AjlNiNxjgAAAAAElFTkSuQmCC);
	height: 21px;
	margin-top: 4px;
	width: 21px;
	margin: 4px;
}

.action-bar-help .action-bar-link-title {
	background-size: contain;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAwUlEQVQ4y9WU6w3DIAyEGcEjZIQOwBAdgdEyikfoAAyRDVwTgZQQPyDKj/akkyIEn2zOIRBReNrh/6GsxEY2dS5raQrKWtgfAda77FlcKOvF3gaAzZsE7qGnCgGAEJGayndZ6ytWofUOTweOwCNYqDhp0EsoTTHG3U1SeBrUvD8HShdoTVwFDrQvQmEEqgQlQ732rbY9KE7M53BQSTuUc95tQNWRgptQc/jfN9q2f1PWOgn0H5Qa1Forhkefvp99+b/H6ZOyGDEoawAAAABJRU5ErkJggg==);
	background-position-y: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 21px;
	margin: 3px 3px 1px 3px;
	vertical-align: top;
	width: 21px;
}

.dropdown-icon{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAjUlEQVQoz2P4//8/A7mYYYhrzs3N5SsqKsoE0jLYFGZmZgoWFhZmAYEEhmagxsri4uL/QPwYaIAyssbs7GxhoPwFkDyQnoOhGWiqLlDyA7oBaBp/AdW5YfVzfn6+ObIBeXl5xsgagXQA3gBDM+AnLo04QxtqwHeoAX+xacQbVUC/RQA1vQQF5HBNYeRgAKO6bfkUgtZHAAAAAElFTkSuQmCC);
	background-position-y: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 15px;
	margin: 17px 3px 1px 3px;
	vertical-align: top;
	width: 15px;
}

.action-bar-container {
	height: 48px;
	min-width: 964px;
	white-space: nowrap;
	width: 100%;
}

.action-bar-inner {
	width: 100%;
}

.action-bar {
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
	background: #fff;
	height: 48px;
	position: relative;
	top: 0;
	width: 100%;
}

.action-bar-item {
	display: inline-block;
	height: 48px;
	vertical-align: top;
}

.action-bar-item:first-child {
	margin-left: 238px;
}

.action-bar-dropdown-container {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.action-bar-dropdown, .action-bar-link {
	-webkit-font-smoothing: antialiased;
	color: #737373;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	vertical-align: top;
}

.action-bar-dropdown-top {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	padding: 0 14px;
}

.action-bar-aux:last-child {
	display: inline-block;
	position: absolute;
	right: 30px;
	top: 0;
}

.action-bar-aux:last-child .play-button.small {
	margin: 0px 10px;
	padding: 0px;
	top: 10px;
}

.action-bar-spacer {
	background: #d6d6d6;
	display: inline-block;
	height: 64%;
	margin: 9px 5px;
	padding: 0;
	width: 1px;
}

.action-bar-link.active {
	border-bottom-style: solid;
	border-bottom-width: 3px;
	color: #333;
	font-weight: 500;
	height: 45px;
}

.action-bar-link a, .action-bar-link a:visited, .action-bar-link.active a {
	color: #737373;
	display: block;
	font-weight: 400;
	height: 100%;
	padding: 0 14px;
	width: 100%;
}

.books .action-bar-link.active {
	color: #1aa1e1;
}

.action-bar-link.active a {
	color: #333;
	font-weight: 500;
}